.contact{
    background-color: beige;
    padding: 50px 0;
}
.contact h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ff0000;
    padding: 1rem 2rem;
}
.contact p{
    font-size: 1.5rem;
    margin: 1rem;
}
.form{
    margin-top: 2rem;
}
.form_input
{  padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: 1px solid rgb(8, 2, 2);
    width: 100%;
    border-radius: 2rem;
    box-sizing: border-box;
}
.form::placeholder{
    color: bisque;
}
body{
    background-color:rgb(241, 76, 104);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 input[type="submit"]{
    display: block;
    width:50%;
    padding: 2rem,1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    border: currentColor;
    height: 2rem;
    text-align: center;
    color: black;
    font-weight: bold;
    cursor:pointer;
    justify-content: center;
    background-color: red;
    font-weight: 200px;
    font-size: 1rem;

}
textarea{
    width: 100%;
    margin-bottom: 2rem;
    font-size: 16px;
    
}

radio{
    color: azure;
}
.container{
    width: 100%;
    margin: 0 auto;
}

.form_content{
    width: 100%;
}

@media (min-width: 900px) {
    .container{
        width: 100%;
        margin: 0; 
    } 

.contact{
    padding: 0rem;
}
.contact .container{
    background-color: rgb(216, 170, 110);
    box-sizing: border-box;
    padding: 2rem 1rem;
}

textarea{
    width: 100%;
    padding: 2rem 1rem;
    box-sizing: border-box;
}
.text{
    width: 100%;
}
.form_content{
    display: flex;
    justify-content: space-around;
}
.gender{
    padding-bottom: 15px;
}
.form_input
{  font-size: 20px;
    width: 100%;
}

}